{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="game">
        <div {{ vue_component('Chessboard', { game: game, user: user }) }}></div>
    </div>
{% endblock %}
