{% extends 'base.html.twig' %}

{% block body %}
	<div class="h-25 d-flex flex-column justify-content-center align-items-center gap-5">
		<h1>We are looking for a game</h1>
		<div class="gap-2">
			{% for i in range(1, 5) %}
				<div class="spinner-grow text-secondary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('waiting-room') }}
{% endblock %}