@import 'modal.css';
@import 'fonts/fonts.css';

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #202020;
    color: white;
    font-family: 'segoe_uiregular';
}