<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Chess.com Clone{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
        {% if app.request.get('_route') != 'game' %}
            {{ component('Navbar') }} 
        {% endif %}

        <div class="container">
            {% block body %}{% endblock %}    
        </div>
		

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
