<div {{attributes}}>
	<nav class="navbar d-flex justify-content-around">
		<div>
			<a class="navbar-brand text-white" href="#">
				<img src="{{ asset('images/default-user-image.svg') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
				{{ app.user.username }}
			</a>
		</div>
		<div class="links">
			<a href="{{ path('app_logout') }}">Sign out</a>
		</div>
	</nav>
</div>
