<div {{attributes}}>
	<nav class="navbar d-flex justify-content-around">
		<div>
			<a class="navbar-brand text-white" href="#">
				<img src="https://picsum.photos/200/300" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
				username
			</a>
		</div>
		<div class="links">
			<a href="#">Sign out</a>
		</div>
	</nav>
</div>
